version: '3.8'

services:
 
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
     
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
    
      - postgres_data:/var/lib/postgresql/data
 
      - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh


  app:
    build:
      context: .
      dockerfile: Dockerfile.dev 
    container_name: node_app
    restart: always
    environment:
      
      HOST: ${HOST}
      PORT: ${PORT}
      CACHE_DIR: ${CACHE_DIR}
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    ports:
      - "3000:3000"
      - "9229:9229" 
    volumes:
      
      - .:/app
     
      - /app/node_modules
     
      - ./my-cache:/app/my-cache
    depends_on:
      - db
   
    command: npm run start:dev-docker

volumes:
  postgres_data: